.DS_Store



.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

#flutter自动忽略上传一下文件，本项目为了上传全部代码先注释掉忽略文件，在git下载完成后开发者可以在手动反注解。
#.dart_tool/
#.idea/
#.packages
#build/
#.android/
#.ios/
#.flutter-plugins
#.flutter-plugins-dependencies
